table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px 9px;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

#fundo {
    min-width: 100vw;   
    min-height: 100vh;
    position: absolute;
}

#modal {
    width: 50%;
    height: 80%;
    background-color: white;
    position: absolute;
    border-radius: 15px;
}

#headerModal {
    padding: 10px;
    width: 100%;
    height: 20%;
}

#mainModal {
    padding: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

#footerModal {
    padding: 10px;
    width: 100%;
    height: 20%;
}

input {
    padding: 10px;
    outline: none;
    width: fit-content;
}