* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

#avatarImagem {
    width: 20vw;
    border-radius: 360%;
    margin: 1vw 0;
}

#nome {
    margin: 0;
}

#login {
    margin-bottom: 2vw;
}

#divProfile {
    width: 30%;
    text-align: center;
}

#divTabela {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 5vh 0px;
}

/* #voltarButton {
    position: absolute;
    top: 1vw;
    left: 1vw;
    padding: 8px;
    border-radius: 5px;
    border-width: 1px;
    background-color: cornflowerblue;
    font-weight: bold;
} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px 9px;
    text-align: center;
}

th {
    background-color: cornflowerblue;
}

a {
    text-decoration: none;
    color: blue;
}