* {
    box-sizing: border-box;
}

#filterDiv {
    display: flex;
}

#inputFilter { 
    margin: 1vw 0vw;
    border-radius: 5px;
    border: 1px solid black;
}

#divBotaoFilter {
    padding: 1vw 0vw;
}

#pesquisarFilter, #limparFilter {
    margin-left: 0.5vw;
    height: 100%;
    border-width: 1px;
    border-radius: 5px;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px 9px;
    text-align: center;
}

th {
    background-color: cornflowerblue;
}

.botaoRedirecionamento {
    background-color: mediumpurple;
    border-width: 1px;
    border-radius: 3px;
    padding: 3px;
}

#botaoAtual {
    margin: 4vh 0px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

#fundo {
    width: 100%;   
    height: max-content;
    position: absolute;
}

#modal {
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 5vh;
}

#headerModal {
    padding: 10px;
    text-align: center;
}

#mainModal {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#inputName, #inputUsername {
    border-radius: 5px;
    border-width: 1px;
}

#footerModal {
    padding: 10px;
    text-align: center;
}

#botaoCadastrarModal {
    padding: 6px;
    border-radius: 5px;
    border-width: 1px;
    background-color: aliceblue;
    font-weight: bold;
}

input {
    padding: 10px;
    outline: none;
    width: fit-content;
}